SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

#Build yestarday 1Min from Tick at every 2:15
15 2    * * 1,2,3,4,5,6,7   root   cd /tqdb2026/tools && ./build1MinFromTick.sh ALL 0
30 2    * * 1,2,3,4,5,6,7   root   cd /tqdb2026/tools && ./build1SecFromTick.sh @ALL_SSEC@ 0
02 5    * * 7   root    cd /tqdb2026/tools && ./purgeTick.sh && reboot
02 3    * * 7   root    find /tqdb2026/oldtick/  -type d -mtime +180 -exec rm -rf {} \;

#NTP Update
#30 3    * * *   root    ntpdate clock.stdtime.gov.tw
#*/30 *    * * *   root    ntpdate 10.216.4.101

#TimeZone database update
0 12    1 * *   root    yum update -y tzdata

@reboot		root	sleep 30 ; cd /tqdb2026 ; ./tqdbStartup.sh
@reboot		root	sleep 30 ; date > /tmp/bootup 
